<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>The total number of user : <%= count %></h1>
    <button><a href="/user">Show User</a></button><br><br>
    <button><a href="/add">Add New User</a></button>
</body>
</html>